<div class="footer">
    <div class="social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i> 
    </div>
    <div class="info">
        &copy;Wanderlust Private Limited
    </div>
    <div class="privacy">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>

