<footer class="footer">
    <div class="footer-top">
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="info">
            &copy; Wanderlust Private Limited
        </div>
    </div>

    <div class="disclaimer">
        <strong>Disclaimer:</strong>
        
        All resorts, listings, locations, images, and reviews displayed on this platform are fictitious and used only
        to demonstrate application functionality. This platform does not represent any real business and does not
        offer real bookings or services.
        <br /><br />
        Users are solely responsible for the content they submit, including locations and reviews.
        The platform does not verify user-submitted data.
    </div>

    <div class="privacy">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</footer>
