.navbar{
    height:10vh !important ;

}
.fa-compass::before{
    color: #FF5A5F;
    font-size: larger;
}
.footer{
    margin: 5vh;
    height:19vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:3.5vh;
    background-color: rgb(168, 166, 166);

}
.privacy a{
    text-decoration: none;
    color:black;
    font-weight: 350;

}
.card{
    margin-right: 5vw;
    margin-bottom: 5vh;
    border: none;
}
.big img{
    height:50vh;
    border-radius: 5px;

}
.linkin{
    margin-right: 5vw;
    margin-bottom: 5vh;
    text-decoration: none;
    
}
.card-img-overlay{
    opacity:0;

}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;

}
.button{
    background-color: #FF5A5F;
    position: relative;
    left: 38vw;

}
.editbtn{
    background-color: #FF5A5F;
    position: relative;
    left: 15px;
}
.imgg{
height:40vh ;

}
.cardind{
    position: relative;
    left: 20vw;
}


